@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


:root {
  --white: #ffffff;
  --gray: rgb(215, 235, 255);
  --text: #000D24;
  --blue: #1f65e6;
}
*{
  outline: none;
  transition: .5s;
}

body {
  color: var(--text);
  margin: 0;
  padding: 0;
}
nav{
  padding: 1rem 5vw;
}
table tbody{
  padding: 10px;
}
.panel-inicial{
  padding: 0 5vw;
}
.panel-inicial a{
  width: 30%;
  background-color: var(--gray);
  padding: 20px;
  border-radius: 10px;
  font-size: clamp(25px, calc(1vmin + 10px), calc(1vmin + 10px));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.panel-inicial a:hover{
  box-shadow: 0 0 10px 0 var(--blue)
}
h1,h2,h3,h4,h5,h6, button, th, a, input{
  font-family: 'Poetsen One', cursive;
  font-weight: bold;
}
p, span{
  font-family: 'Lexend', sans-serif;
}